apt --> tmux, python3, python3-pip, python3-rpi.gpio, python3-picamera, gpac, zip

sudo apt update && sudo apt install tmux python3 python3-pip python3-rpi.gpio python3-picamera gpac zip -y && sudo apt full-upgrade -y && sudo reboot
